[global]
trusted-host = {{ url }}
index = http://{{ username }}:{{ password }}@{{ url }}/repository/{{ pypi_repo }}/pypi
index-url = http://{{ username }}:{{ password }}@{{ url }}/repository/{{ pypi_repo }}/simple