# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      dhcp6: no

  bridges:
    br0:
      interfaces: [eth0]
      dhcp4: no
      addresses: [{{ allocated_ip_address }}/24]
      gateway4: {{ ip_Gateway }}
      nameservers:
        addresses: [{{ ip_dnsserver }}]
