UserParameter=ssl_cert_check_valid[*], /etc/zabbix/ssl/ssl_cert_check.sh valid localhost {{ access_port }} {{ dnsname }} 5
UserParameter=ssl_cert_check_expire[*], /etc/zabbix/ssl/ssl_cert_check.sh expire localhost {{ access_port }} {{ dnsname }} 5